h1 {
    text-align: center;
}

.todo-wrapper {
    background: rgb(71, 69, 69);
    color: white;
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(78, 76, 76);
}

.todoInput {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.todoInputItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.todoInputItem label {
    font-weight: bold;
    margin-bottom: 10px;
}

.todoInputItem input {
    padding: 5px;
    border: none;
    width: 250px;

}

.todoInputItem input:focus {
    border: 2px solid rgb(0, 230, 120);
    outline: none;
}

.primarybtn {
    background-color: rgb(0, 230, 120);
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: 60px;

    cursor: pointer;
}

.primarybtn:hover {
    background-color: rgb(11, 211, 114);
}

.secondaryBtn {
    background-color: rgb(81, 81, 81);
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: fit-content;

    cursor: pointer;
}

.active {
    background-color: rgb(0, 230, 120);

}

.todolist {
    display: flex;
    flex-direction: column;

}

.btn-area {
    margin-bottom: 10px;
}

.todolist-item {
    background-color: rgb(43, 42, 42);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(43, 41, 41);
}

.icon {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    cursor: pointer;

}

.todolist-item h3 {
    font-size: 25px;
    color: rgb(0, 239, 122);
    margin: 0;
}

.todolist-item p {
    font-size: 14px;
    color: rgb(161, 161, 161);
    margin-top: 8px;
}

.check {
    color: rgb(0, 239, 122);
    margin-left: 10px;
    cursor: pointer;
}

.delete {
    color: rgb(161, 161, 161);


}

.delete :hover {
    color: red;

}